
<footer class="footer">
  <div class="footer-left col-md-4 col-sm-6">
    <p class="about">
      <span> About us</span> Medicare hospital, based in Kochi, Kerala, is recognised as one of the premier hospitals in South Asia. Our commitment to affordable quality care has attracted a dedicated team of highly qualified medical professionals and other healthcare professionals from across the world to provide the highest standards of medical treatment.
    </p>

  </div>
  <div class="footer-center col-md-4 col-sm-6">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span> Ernakulam,4500</span> Kochi, India</p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p> (+00) 0000 000 000</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="www.gmail.com">medicare@hospital.com</a></p>
    </div>
  </div>
  <div class="footer-right col-md-4 col-sm-6">
    <h2> Medicare<span> healthcare</span></h2>
    <p class="menu">
      <a href="#"> Home</a> |
      <a href="feedback/aboutus"> About</a> |

      <a href="feedback/feedback"> Feedback</a>
    </p>
    <p class="name"> Medicare&copy; 2021</p>
  </div>
</footer>